/*************************************************************
Styleset for Amazerffic

@Author: Van Nguyen
@Author: Uday Shah
**************************************************************/

body {
	font-family: arial, helvetica, sans-serif;
}
h1 {
	color:#e83091;
	text-align: center;
}
h2 {
	color:#e83091;
}
h5 {
	font-size: 14pt;
}
input[type=text] {
	font-size: 10pt;
	border: 2pt solid #e83091;
    border-radius: 2px;
}
input[type=submit] {
    border: 2pt solid #e83091;
    padding: 10px 10px;
    text-decoration: none;
    cursor: pointer;
}
form{
	font-size: 10pt;
	color: #e6c64c;
}
p {
	color:#e6c64c;
	text-indent: 20px;
}
.listHeader {
	font-weight: bold;
}

/*Link styles*/
a {
	font-size: 10pt;
	font-weight: bold;
	text-decoration: none;
}
/*Unvisited link*/
a:link {
    color: #ec27a3;
}
/*Visited link*/
a:visited {
    color: #ec27a3;
}
/*Mouse over link*/
a:hover {
    color: #e6c64c;
}
/*Selected link*/
a:active {
    color: #ec27a3;
}